.topics {
  .idcol {
    width: 5%;
  }
  .datepostedcol {
    width: 15%;
  }
  .titlecol {
    width: 30%;
  }
  .speakercol {
    width: 20%;
  }
  .talkdatecol {
    width: 20%;
  }
  .showbutton{
    width: 10%
  }
}
