@import "../../theme/variables.scss";

.home {
  h2 {
    color: $orange;
  }
}
.masthead {
  display: none; /* To Avoid two banners | For time being */
  background: #eeeeee;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 100%;
      margin: auto;
    }
  }
  h1 {
    color: $orange;
    font-size: 6em;
    margin-top: 0;
  }
  h2 {
    color: #636363;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .github {
    font-size: 1.5em;
  }
}

.hotTopicsContainer {
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
  .hotTopicGrid {
    width: 32%;
    float: left;
    padding: 25px;
    background-color: #F1F1F1;
    margin-right: 2%;
    margin-bottom: 25px;

    &:nth-of-type(3n+0) {
      margin-right: 0;
    }

    h4 {
      margin-top: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.4;
    }

    p {
      min-height: 95px;
    }
  }
}

.topicsByLocationsContainer, .topicsByEventsContainer {
  ul {
    list-style: none;
    padding: 0;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    li {
      float: left;
      clear: left;
      margin-bottom: 10px;
    }

    a {
      display: block;
      padding: 10px;
      background-color: #F1F1F1;

      i {
        padding-left: 10px;
      }
    }
  }
}
