.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 175px;
  }
}
.errorMessage{
  color: darkred;
}
.loginPage button {
  margin-right: 15px;
}
